body {
  background: #7bbda6;
}

#home{
  background: #000 url('images/bg_lake.jpeg')no-repeat center; background-size: cover; height: 700px;

}

#home h1{
  padding-left:auto;
  padding-right:auto;
  padding-top: auto;
  padding-bottom: auto;
}






h1{
  padding-left:3em;
  padding-right:3em;
  padding-top: 2em;
  padding-bottom: 2em;
}



figure {
display: flex;
flex-direction: column;
align-items: center;
}

img{
  max-height:40vh;
  max-width: 40vh;
}






#contact h2 {
  padding : 2em;
}

#contact h1 {
  margin-left: auto;
    margin-right: auto;
    padding:3em;
}

#contact .infocontact ul {
  margin-left: auto;
    margin-right: auto;
    width: 12em;
}




.logo img{
  max-height:15vh;
  max-width: 15vh;
  padding-top:5em;

}





#projects section {
  min-height: 98vh;
  border-bottom: 1px double solid green;

}

#projects .project-feature h2 {
  padding: 0.75em;

}
#projects .project-feature figcaption {
  padding: 0.5em;

}

#projects .project-feature a {
  padding-top: 1em;
  padding-bottom : 1em;

}

#projects .project-feature p {
  padding-top: auto;
  padding-bottom : auto;
}



#photo{
  background-color: white;

}

#photo section {
  min-height: 98vh;
  padding: 2em;
}

#photo .project-feature {

  padding: 2em;
  margin : 0.5em;
  flex-basis: 320px;

}

#photo .project-feature figcaption {
  padding: 0.5em;

}


#photo img{
  max-height:50vh;
  max-width: 50vh;
}


#photo h2{
padding: 1em;
text-align: center;
}

#photo .project-feature a {
  padding-top: 1em;
  padding-bottom : 1em;

}

#photo .project-feature p {
  padding-top: auto;
  padding-bottom : auto;
}


.goback {
padding:2em;
}



.project-feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

#projects .project-feature {
  border: 0.5px solid #b3e6cc;
  padding: 1em;
  margin : 0.5em;
  flex-basis: 320px;
}

#illu .project-feature {
  border: 0.5px solid #FFF;
  padding: 1em;
  margin : 0.5em;
  flex-basis: 320px;
}

#illu .project-feature h2 {
  padding: 0.75em;

}
#illu .project-feature figcaption {
  padding: 0.5em;

}

#illu .project-feature a {
  padding-top: 1em;
  padding-bottom : 1em;

}

#illu .project-feature p {
  padding-top: auto;
  padding-bottom : auto;
}



#main-menu {

  background-color: #7bbda6;
  width : 320px;
  position: absolute;
  top: 0;
  left: -320px;
  height:100%;
  z-index: 999;
  transition: 1.23s all ease;
}

#main-menu:target +.backdrop {
  background: rgba(223, 245, 226, 0.8);
  position :absolute;
  top: 100;
  left:0;
  width: 100%;
  height:100%;
  z-index:998;

}

#main-menu a{
  display: block;
  padding: 1em;
  text-transform: uppercase;

}

#main-menu:target{
  left:0px;
}

.toggle-menu{
  border : 2px solid #000;
  border-radius: 10px;
  padding: 1em;
  background: #000;
  color : #fff;
}

.close-menu{
  display: block;
  width : 16px;
  height: 16px;
  background: #000;
  border-radius: 100%;
  color : #fff;


}

@media  (min-width:640px){
#main-menu {
  position: static;
  width: 100%;
}
#main-menu ul{
  display:flex;
  justify-content: space-evenly;
}
.toggle-menu{
  display:none;
}
#main-menu .close-menu{
  display:none;
}

}

footer{
  text-align: right;
  padding: 0.5em;
}
