
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Lobster+Two|Paytone+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500");
body {
  font-family: helvetica;
}

h1{
  font-size: 5em;
  margin-bottom: 1em ;
  text-align: center;
  color: white;
  font-family: 'Paytone One', sans-serif;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em ;
  color: white;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

p {
  color : white;
font-style: monospace; }

#photo p {
  color: black;
  font-style: monospace;
}

#photo h1{
  font-size: 5em;
  margin-bottom: 1em ;
  text-align: center;
  color: black;
  font-family: 'Paytone One', sans-serif;
}

#photo figcaption {
  color: grey;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

#photo h2 {
  font-family: 'Dosis', sans-serif;
  font-size:0,5em;
  text-align: left;
  color:black;

}

#photo .goback {
  color: grey;
  font-family: 'Dosis', sans-serif;
  font-size:1em;
  text-align: left;
}

.goback {
  font-family: 'Dosis', sans-serif;
  font-size:1em;
  text-align: left;

}

#photo a {
  color:grey;
  text-align: right;
}

figcaption{
  color: #b3e6cc;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

ul{
  font-size: 1.5em;
font-family: 'Dosis', sans-serif;
}

#main-menu {
  color: #fff;
}

footer{
  color:#fff;
}


#contact{
  color: #fff;
  text-align: center;

}

#contact h2 {
  font-family: 'Dosis', sans-serif;
  font-size:1em;
  text-align: left;
}

#contact ul{
  font-size: 1.5em;
font-family: 'Dosis', sans-serif;
text-align: left;
}

#contact h1{
  font-size: 4em;
}


#about p {
  color: #003300;
  text-align: center;
  font-size: 2em;
  font-family: 'Dosis', sans-serif;

}
